* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./op.webp);
    background-size: cover;
}

.header {
    overflow: hidden;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    border: 1px solid black;
    box-shadow: 0px 4px 10px #8872AF;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;

}
.header-right a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    width: 100px;
}

.header-right a:hover{
    background-color: #393939;
}
.header a.active {
    background-color: grey;
    color: white;
    border-color: black;
}

.header-right {
    float: right;
    margin-top: 40px;
}
.logo{
    font-family:"copperplate";
    font-size: 70px;
}
.inputPage{
    text-align: center;
    display:flex;
    justify-content: center;
    align-content: center;
    top: 15rem;
    position: relative;
}
.inputBorder {
    border: 2px solid navy;
    text-align: center;
    border-radius: 10px;
    width: 40%;
    padding: 0px 0px 20px 0px;
    box-shadow: 8px 8px 10px slategray;
}
.content{
    margin-top: 96px;
}
footer{
    background-color: #BAD5FF;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
    padding-top: 25px;
    text-shadow: 1px 1px 2px lightgray;
    border: 1px solid black;
    box-shadow: 0px -1px 5px slategray;
}
.wrongLogin{
    color: red;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table, th, td {
    border: 2px solid black;
    margin-top: 100px;
    height: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;

}
.topTable{
    height: 5px;
    font-size: 15px;
    padding: 0px,0px,0px,0px;
}
#preloader{
    background: #000 url(./future.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
}
img {
    width: 110px;
    height: 100px;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
}

.prnt{
    width: 30%;
    height:60%;
}
.lookUp{
    text-align: center;
    margin-top: 150px;  
}
#prnt{
    text-align: center;
}